@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/event-colors.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Force light theme always - ignore system dark mode preference */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.small-rdp {
  --rdp-day-width: 26px;
  --rdp-day-height: 26px;
  --rdp-day_button-width: 26px;
  --rdp-day_button-height: 26px;
  --rdp-months-gap: 0.5rem;
  font-size: 11px;

}